include /data/site
include /data/style

doctype html
html(lang=site.lang)
	block pageData

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		title= page.title
		link(rel='stylesheet', href='assets/tailwind.css')
	body(class=`${style.base}`)
		include /includes/header
		div(class=`${style.container}`)
			block content
			include /includes/footer
